
.footer {
  position: relative;
  width: 1490px;
  height: auto;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-end;
}
.footer .footer-container{
  padding: 25px 50px;
  width: 1480px;
  margin-top: 20px;
  border-top: 1px solid rgb(222, 222, 222);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer  .footer-container .content.about-us {
  width: 40%;
}

.footer  .footer-container .us li{
  padding-left: 2.0em;
}


.content.footer_support {
  width: 200px;
}

.us {
  height: 250px;
}


.com {
  display: inline-block;
}


.com img{
  vertical-align: unset;
  height: 45px;
  width: 150px;
}


.footer h3{
  position: relative;
  font-weight: 500;
  margin-bottom: 15px;
}


.footer h3:before{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 75px;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
  background-image: linear-gradient(to right, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
}

.footer ul{
  list-style-type: none;
}
.ul_contact li {
  display: inline-block;
}

.support-li a {
  text-decoration: none;
  color: gray;
}

.support-li a:hover{
  text-decoration: none;
  color: rgba(128, 128, 128, 0.509);
}
