body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.formOrder {
    width: 40%;
    height: 700px;
    margin: 60px auto 0;
    background-color: rgb(255, 211, 217);
    border-radius: 10px;
    position: fixed;
    top: 1%;
    left: 30%;
    display: none;
    opacity: 1;
}
form {
    text-align: center;
}
form h2 {
    font-size: 40px;
    padding-top: 15px;
    margin-bottom: 5px;
}
form p {
    display: block; 
    line-height: 10px;
}
.prof-img {
    width: 70px;
    height: 70px;
    border-radius: 14px;
    position: absolute;
    top: 80px;
    right: 480px;
}
.order-form {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.in4-pro {
    display: flex;
}
.in4-pro img {
    width: 30%;
    display: inline-block;
    border-radius: 8px;
    margin-left: 20px;
    float: left;
}

.text-in4  {
    text-align: left;
    width: 70%;
    margin-left: 40px;
    line-height: 10px;
    font-size: 20px;
}   
.order-data {
    width: 100%;
    margin-top: 60px;
    text-align: left;
    margin-left: 20px;
}
.order-data label {
    font-size: 18px;

}
label {
    position: relative;
    bottom: 100px;
    left: 10px;
    display: inline-block;
    transition: 0.3s ease;
}
input:focus + label {
    bottom: 85px;
    transition: 0.3s ease;
    padding: 0 3px;
    background-image: linear-gradient( to bottom,rgba(255, 194, 202, 0.849), white);
    border-radius: 3px;
    border: none;
}
input:focus {
    transition: 0.3s ease;
    outline: none;
    border: solid rgba(30, 143, 255, 0.5);
 }
input {
    width: 86%;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

select {
    width: 25%;
    padding: 13px;
    border-radius: 5px;
    display: inline-block;
    float: right;
    position: relative; 
    top: 28px;
    right: 60px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.data {
    display: inline-block;
}
.data-address {
    width: 60%;
    height: 50px;
    display:block;  
}
.size {
    width: 48%;
    margin-top: 5px;
    float: left;
}
.size h3 {
    margin-bottom: 25px;
}
.size button {
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    padding: 10px 20px;
    margin-left: 15px;
}
.size button:hover {
    background-color: blanchedalmond;
    box-shadow: rgba(8, 8, 8, 0.287) 0px 7px 29px 0px;
}
.size .select {
    background-color: rgb(86, 223, 233);
    color: white;
}
.sec-sz.select:hover {
    background-color: rgb(86, 223, 233);
    color: white;
}
.quantity {
    width: 50%;
    float: right;
    margin-top: 8px;

}
.quantity .quantity-select {
    text-align: center;
    display: flex;
    width: 75%;
    margin-left: 25px;
    justify-content: space-around;
}
.quantity input {
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
    flex-basis: 50%;
}
.quantity .quantity-select button {
    text-align: center;
    flex-basis: 20%;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.quantity button {
    width: 10%;
    padding: 15px 10px;
    border: none;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    cursor: pointer; 
}
.quantity button:active {
    background-color: rgb(86, 223, 233);
    color: white;
}
.sale-code {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.sale-code select {
    width: 80%;
    position: unset;
    float: left;
    margin-left: 18px;
}
.sum-order {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.sum-order span {
    font-size: 20px;
}
.sum-order span:first-child {
    font-size: 28px;
    padding-right: 20px;
    font-style: italic; 
    font-weight: bold;
}

.close-order {
    width: 30%;
    height: 50px;
    border: unset;
    background-color: rgb(55, 194, 194);
    border-radius: 10px;
    color:#fff;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: relative;
    left: 50px;
    top: 30px;
}
.close-order:hover {
    background-color: rgb(47, 221, 221);
}
