body {
    background-color: rgb(216, 216, 216);
    width: 100%;
}
.product {
    width: 60%;
    height: 1200px;
    margin: 70px auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container {   
    display: flex; 
}
.product-content {
    width: 45%;
    margin: 30px 0 0 30px;
}
.preview {
	display: flex;
	flex-direction: column;
}
.product-img {
    margin-top: 50px;
    width: 30%; 
}
.nav-tabs {
	border: none;
	margin-top: 15px;
}
.nav-tabs li{
	width: 18%;
	margin-right: 2.5%;
}
.preview-thumbnail.nav-tabs img {
	max-width: 100%;
	display: block;
    border-radius: 5px;
}
.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0;
	cursor:pointer;
}
.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0;
}
.tab-content {
	overflow: hidden;
    border-radius: 10px;
}
.tab-content img {
	width: 100%;
	animation-name: opacity;
    animation-duration: .3s;
}
.name-pro h2 {
    font-size: 30px;
}
.name-pro i {
    font-size: 12px;
    margin-left: 20px;
}
.cost-pro {
    margin: 10px 0;
}
.cost-pro i {
    color: rgb(212, 203, 149); 
}
.cost-pro p {
    font-size: 40px;
    
    margin-left: 30px;
}
.img-color {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.img-color img {
    width: 100%;
}
.color-pro {
    margin: 10px;
}
.color-pro p span {
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.color-pro p {
    font-size: 14px;
    color: rgb(61, 61, 61);
}
.size-pro {
    margin: 10px;
}
.text-size {
    font-size: 16px;
    font-weight: bold;
}
.size {
    margin: 10px 25px
}
.a-size {
    text-decoration: none;
    border: 1px solid rgb(204, 56, 56);
    cursor: pointer;
    padding: 2px 8px;
    margin: 0 3px;
    border-radius: 10px;
    background-color: white;
}
.size .a-size:active {
    background-color: red;
    cursor: pointer;
    transform: 100s;
}
.quantity {
    margin-left: 10px;
    margin-top: 20px;
}
.quantity p {
    margin-top: 10px;
}
.select-quantity input {
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 5px;
}
.inf-product {
    margin: 80px 30px 10px;
    border-top: 3px solid rgb(219, 92, 135) ;
}
.button-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.but-custom   {
    width: 30%;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.but-order {
    background: rgb(241, 101, 155);
    background: linear-gradient(0deg, rgb(236, 93, 181) 0%, rgb(241, 101, 155) 100%);
    width: 30%;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
.but-order p {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
.but-order:before, .but-order:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(241, 101, 155);
    transition: all 0.3s ease;
  }
.but-order:before {
    height: 0%;
    width: 2px;
  }
.but-order:after {
    width: 0%;
    height: 2px;
  }
.but-order:hover{
     background: transparent;
    box-shadow: none;
  }
.but-order:hover:before {
    height: 100%;
  }
.but-order:hover:after {
    width: 100%;
  }
.but-order p:hover{
     color: rgb(241, 101, 155);
  }
.but-order p:before, .but-order p:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(241, 101, 155);
    transition: all 0.3s ease;
  }
.but-order p:before {
    width: 2px;
    height: 0%;
  }
.but-order p:after {
    width: 0%;
    height: 2px;
  }
.but-order p:hover:before {
    height: 100%;
  }
.but-order p:hover:after {
    width: 100%;
  }

.but-chat {
    background: rgb(241, 101, 155);
    background: linear-gradient(0deg, rgb(105, 194, 230) 0%, rgb(51, 179, 211) 100%);
    width: 30%;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
.but-chat p {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
.but-chat:before, .but-chat:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgb(51, 179, 211);
    transition: all 0.3s ease;
  }
.but-chat:before {
    height: 0%;
    width: 2px;
  }
.but-chat:after {
    width: 0%;
    height: 2px;
  }
.but-chat:hover{
    background: transparent;
    box-shadow: none;
  }
.but-chat:hover:before {
    height: 100%;
  }
.but-chat:hover:after {
    width: 100%;
  }
.but-chat p:hover{
     color: rgb(51, 179, 211);
  }
.but-chat p:before, .but-chat p:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(51, 179, 211);
    transition: all 0.3s ease;
  }
.but-chat p:before {
    width: 2px;
    height: 0%;
  }
.but-chat p:after {
    width: 0%;
    height: 2px;
  }
.but-chat p:hover:before {
    height: 100%;
  }
.but-chat p:hover:after {
    width: 100%;
  }
.but-chat i {
    font-size: 20px;
    margin-left: 5px;
}
