body {
    background-color: rgb(216, 216, 216);
    width: 100%;
}
.product {
    width: 60%;
    height: 1200px;
    margin: 70px auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container {   
    display: flex; 
}
.product-img {
    width: 50%; 
}
.product-content {
    width: 50%;
    margin: 30px 0 0 30px;
}
.product-img-big {
    width: 90%; 
    margin: 0 auto;
}
.product-img-big img {
    width: 98%;
}
.product-img-small {
    width: 98%;
    display: flex;
    justify-content: space-around;
}
.product-img-small img {
    width: 20%;
}
.name-pro h2 {
    font-size: 30px;
}
.name-pro i {
    font-size: 12px;
    margin-left: 20px;
}
.cost-pro {
    margin: 10px 0 20px;
}
.cost-pro i {
    color: rgb(212, 203, 149); 
}
.cost-pro p {
    font-size: 40px;
    
    margin-left: 30px;
}
.img-color {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.img-color img {
    width: 100%;
}
.color-pro {
    margin: 10px;
}
.color-pro p span {
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.color-pro p {
    font-size: 14px;
    color: rgb(61, 61, 61);
}
.size-pro {
    margin: 10px;
}
.text-size {
    font-size: 16px;
    font-weight: bold;
}
.size {
    margin: 10px 25px
}
.a-size {
    text-decoration: none;
    border: 1px solid rgb(204, 56, 56);
    cursor: pointer;
    padding: 2px 8px;
    margin: 0 3px;
    border-radius: 10px;
    background-color: white;
}
.size .a-size:active {
    background-color: red;
    cursor: pointer;
    transform: 100s;
}

.inf-product {
    margin: 80px 30px 10px;
    border-top: 3px solid rgb(219, 92, 135) ;
}
.button-content {
    margin: 30px;
}
.but-order {
    text-decoration: none;
    cursor: pointer;
    width: 30%;
    background-color: rgb(241, 101, 155);
    border: 1px solid rgb(241, 101, 155);
    border-radius: 10px;
}
.but-order p {
    font-size: 20px;
    color: rgb(216, 216, 216);
    font-family: sans-serif;
    margin: 18px 0;
}
.but-chat {
    text-decoration: none;
    cursor: pointer;
    width: 30%;
    margin-left: 30px;
    background-color: rgb(86, 223, 233);
    border: 1px solid rgb(83, 176, 204);
    border-radius: 10px;
}
.but-chat p {
    font-size: 20px;
    color: rgb(216, 216, 216);
    font-family: sans-serif;
    margin: 10px 0;
}
.but-chat i {
    font-size: 20px;
    margin-left: 5px;
}
