    * {
        padding: 0;
        margin: 0;
    }
    body {
        display: inline-block;
        width: 100%;  
        overflow-x: hidden; 
    }
    .main {
        margin-left: auto;
        margin-right: 0;
        text-align: center;
        width: 62%;
        overflow-x: hidden;
        float: right;
        padding-left: 0px;
    }
    .box-sale {
        width: 98%;
        margin-left: 45px;
    }
    .avt {
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .list {
        padding: 20px 10px 40px;
        border-radius: 10px;
        width: 95%;
        display: inline-block;
        align-items: center;
        background-color: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 36px;
    }
    .accesor {
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .name-list {
        height: 80px;
        width: auto;
        margin: 0 0 40px 40px;    
        position: relative;
        top: 20px;
        left: 30px;
        font-size: 42px;
        color: rgb(17, 83, 104);
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .sale-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 25px 25px;
        text-align: center;
        margin: 0 20px ;
    }
    .sub-items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 20px 25px;
        margin: 20px ;
    }
    
    .items {
        box-sizing: border-box;
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: inline-block;
        font-family: 'Times New Roman', Times, serif;
    }
    
    .items-img {
        text-align: center;
        background-size: cover;
    }
    
    .items img {
        object-fit: cover;
        width: 90%;
       
    }
    .items-content {
        margin: 10px 25px 0;
    }
    .name-pro {
        text-decoration: none;
        color: black;
        font-size: 40;
        text-transform: none;
    }
    .item-title {
        width: 80%;
        font-weight: 200;
        margin-bottom: 20px;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        white-space: nowrap;
    }
    .line-through {
        text-decoration-line: line-through ;
        font-size: 15px;
    }
    .items-cost {
        font-size: 20px;
        margin: 10px 15px;   
    }
    .items-button {
        display: flex;
        margin: 0;
    }
    .items-button1 {
        background-color: rgb(86, 223, 233);
    }
    .items button {
        background-color: rgb(241, 101, 155);
        border: none;
        cursor: pointer;
        width: 50%;
        height: 42px;
        margin: 0;
        font-size: 15px;
        color: #fff;
        float: inline-end;
        
    }
    .items button:hover {
        background-color: rgb(221, 34, 121);
    }
    .items-button1:hover {
        background-color: rgb(83, 176, 204);
    }
/*Slides*/
.bigSlides {
    width: 100%;
    height: 400px;
    max-width: 100%;
    margin-top: 75px;
    overflow-x: hidden;
    border-radius: 10px;
}
.slidetext {
    float: left;
    margin-left: 30px;
}
.slidetext p {
    width: 1530px;
    height: 100px;
    margin-left: 20px;
    font-size: 50px;
    color: white;
}
.slide-wrapper-text {
    width: 6120px;
    position: absolute;
    -webkit-animation: slidetext 18s ease-in-out infinite;
    -webkit-animation-delay: 0.2s;
}
@-webkit-keyframes slidetext {
    0% {opacity: 1;}
    10% {opacity: 0.8;}
    20% {margin-left: -30px;opacity: 0;}
    30% {margin-left: -1530px;opacity: 1;}
    50% {margin-left: -1560px;opacity: 0;}
    60% {margin-left: -3140px;opacity: 1}
    80% {margin-left: -3160px;opacity: 0;}
    100% {opacity: 0;}
}
.slide {
    float: left;
    margin-left: 20px;
}
.slide img {
    width: 1530px;
    height: 400px;
    border-radius: 10px;
}
.slide-wrapper {
    width: 6120px;
    overflow: hidden;
    position: absolute;
    -webkit-animation: slide 18s ease-in-out infinite;
    
}
@-webkit-keyframes slide {
    20% {margin-left: -25px;}
    30% {margin-left: -1560px;}
    50% {margin-left: -1570px;}
    60% {margin-left: -3110px;}
    80% {margin-left: -3125px;}
}
.mySlides {
        float: left;
        max-width: 520px;
        height: 100%;
        margin: 40px 0 0 30px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 220px 220px 220px 460px 220px 360px 80px 360px 220px;
}
.slideshow {
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 10px; 
    }
    .slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9, .slide10, .slide11, .slide12 {
        float: left;
        margin-right: 20px;
    }
    .mySlides img {
          border-radius: 10px;
    }
    .sl1 img {
        height: 220px;
        width: 520px;
    }
    .sl1 {
        grid-column: 1/7;
        grid-row: 1/2;
    }
    .slide-wrapper1 {
        width: 2080px;
        -webkit-animation: slide1 24s ease infinite;
    }
    @-webkit-keyframes slide1 {
        20% {margin-left: 0px;}
        30% {margin-left: -520px;}
        50% {margin-left: -540px;}
        60% {margin-left: -1060px;}
        80% {margin-left: -1080px;}
    }
    .sl2 img {
        width: 340px;
        height: 220px;
    }
    .sl2 {
        grid-row: 2/3;
        grid-column: 1/5;
    }
    .slide-wrapper2 {
        width: 1340px;
        -webkit-animation: slide2 20s ease infinite;
    }
    @-webkit-keyframes slide2 {
        20% {margin-left: 0px;}
        30% {margin-left: -340px;}
        50% {margin-left: -360px;}
        60% {margin-left: -700px;}
        80% {margin-left: -720px;}
    }
    .sl3 img {
        width: 340px;
        height: 220px;
    }
    .sl3 {
        grid-row: 3/4;
        grid-column: 1/5;
    }
    .slide-wrapper3 {
        width: 1340px;
        -webkit-animation: slide3 16s ease infinite;
    }
    @-webkit-keyframes slide3 {
        20% {margin-left: 0px;}
        30% {margin-left: -340px;}
        50% {margin-left: -360px;}
        60% {margin-left: -700px;}
        80% {margin-left: -720px;}
    }
    .sl4 img{
        width: 160px;
        height: 460px;
    }
    .sl4 {
        grid-column: 5/7;
        grid-row: 2/4;
    }
    .slide-wrapper4 {
        width: 640px;
        -webkit-animation: slide4 22s ease infinite;
    }
    @-webkit-keyframes slide4 {
        20% {margin-left: 0px;}
        30% {margin-left: -160px;}
        50% {margin-left: -180px;}
        60% {margin-left: -340px;}
        80% {margin-left: -360px;}
    }
    .sl5 img {
        width: 250px;
        height: 460px;
    }
    .sl5 {
        grid-column: 1/4;
        grid-row: 4/5;
    }
    .slide-wrapper5 {
        width: 1000px;
        -webkit-animation: slide5 18s ease infinite;
    }
    @-webkit-keyframes slide5 {
        20% {margin-left: 0px;}
        30% {margin-left: -250px;}
        50% {margin-left: -270px;}
        60% {margin-left: -520px;}
        80% {margin-left: -540px;}
    }
    .sl6 img {
        width: 250px;
        height: 460px;
    }
    .sl6 {
        grid-column: 4/7;
        grid-row: 4/5;
    }
    .slide-wrapper6 {
        width: 1000px;
        -webkit-animation: slide6 20s ease infinite;
    }
    @-webkit-keyframes slide6 {
        20% {margin-left: 0px;}
        30% {margin-left: -250px;}
        50% {margin-left: -270px;}
        60% {margin-left: -520px;}
        80% {margin-left: -540px;}
    }
    .sl7 img {
        width: 520px;
        height: 220px;
    } 
    .sl7 {
        grid-column: 1/7;
        grid-row: 5/6;
    }
    .slide-wrapper7 {
        width: 2080px;
        -webkit-animation: slide7 16s ease infinite;
    }
    @-webkit-keyframes slide7 {
        20% {margin-left: 0px;}
        30% {margin-left: -520px;}
        50% {margin-left: -540px;}
        60% {margin-left: -1060px;}
        80% {margin-left: -1080px;}
    }
    .sl8 img {
        width: 250px;
        height: 460px;
    }
    .sl8 {
        grid-column: 1/4;
        grid-row: 6/8;
    }
    .slide-wrapper8 {
        width: 1000px;
        -webkit-animation: slide8 19s ease infinite;
    }
    @-webkit-keyframes slide8 {
        20% {margin-left: 0px;}
        30% {margin-left: -250px;}
        50% {margin-left: -270px;}
        60% {margin-left: -520px;}
        80% {margin-left: -540px;}
    }
    .sl9 img {
        width: 250px;
        height: 360px;
    }
    .sl9 {
        grid-column: 4/7;
        grid-row: 6/7;
    }
    .slide-wrapper9 {
        width: 1000px;
        -webkit-animation: slide9 21s ease infinite;
    }
    @-webkit-keyframes slide9 {
        20% {margin-left: 0px;}
        30% {margin-left: -250px;}
        50% {margin-left: -270px;}
        60% {margin-left: -520px;}
        80% {margin-left: -540px;}
    }
    .sl10 img {
        width: 250px;
        height: 360px;
    }
    .sl10 {
        grid-column: 1/4;
        grid-row: 8/9;
    }
    .slide-wrapper10 {
        width: 1000px;
        -webkit-animation: slide10 17s ease infinite;
    }
    @-webkit-keyframes slide10 {
        20% {margin-left: 0px;}
        30% {margin-left: -250px;}
        50% {margin-left: -270px;}
        60% {margin-left: -520px;}
        80% {margin-left: -540px;}
    }
    .sl11 img {
        width: 250px;
        height: 460px;
    }
    .sl11 {
        grid-column: 4/7;
        grid-row: 7/9;
    }
    .slide-wrapper11 {
        width: 1000px;
        -webkit-animation: slide11 20s ease infinite;
    }
    @-webkit-keyframes slide11 {
        20% {margin-left: 0px;}
        30% {margin-left: -250px;}
        50% {margin-left: -270px;}
        60% {margin-left: -520px;}
        80% {margin-left: -540px;}
    }
    .sl12 img {
        width: 520px;
        height: 220px;
    }
    .sl12 {
        grid-column: 1/7;
        grid-row: 9/10;
    }
    .slide-wrapper12 {
        width: 2080px;
        -webkit-animation: slide12 18s ease infinite;
    }
    @-webkit-keyframes slide12 {
        20% {margin-left: 0px;}
        30% {margin-left: -520px;}
        50% {margin-left: -540px;}
        60% {margin-left: -1060px;}
        80% {margin-left: -1080px;}
    }   
.footer {
    position: relative;
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    margin-top: auto;
}
.footer-container {
    padding: 25px 30px;
    width: 100%;
}  
.footer  .footer-container .about-us li{
    padding-left: 30px;
}
.com {
    display: inline-block;
}
.com img{
    vertical-align: unset;
    height: 45px;
    width: 150px;
}
.footer h3{
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer h3:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 75px;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
    background-image: linear-gradient(to right, #73D2F6, #08C 22%, #7FC400 36%, #FFD583 48%, #FFB21E 63%, #FF4D4D 76%, #503873);
}
.footer ul{
    list-style-type: none;
}
.ul_contact li {
    display: inline-block;
}
.support-li a {
    text-decoration: none;
    color: gray;
}
.support-li a:hover{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.509);
  } 
@media  screen and (min-width: 1400px) {
    .hid {
        display: none;
    }
    .footer .footer-container{
        display: flex;
        flex-wrap: wrap;
      }
    .footer_support {
        flex-basis: 30%;
      }
    .about-us {
        flex-basis: 45%;
        float: left;
        margin-left: 23px;
    }
    .contact_info {
        position: relative;
        left: 20px;
        bottom: 10px;
        width: 40%;
        order: 4;
    }
    .contact {
        flex-basis: 20%;
    }
}
